<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<!--needed for iron data table -->
<link rel="import" href="/swatchcell/framework/html/elements/iron-data-table/iron-data-table.html">
<link rel="import" href="/extern/bower_components/iron-list/iron-list.html">
<link rel="import" href="/extern/bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="/extern/bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="/extern/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/extern/bower_components/paper-input/paper-input.html">
<link rel="import" href="/extern/bower_components/iron-iconset-svg/iron-iconset-svg.html">
<!--END needed for iron data table -->
<link rel="import" href="/swatchcell/framework/html/elements/swatch-styles/swatch-styles.html">
<!--
Material design: [Click me](https://www.google.com/design/spec/components/text-fields.html)
log-table is a table element that can be used to host logs
It receives an array of objects in this format:
{
logLevel: String
time: String,
logger: String,
message: String
}
logLevel can be "Error", "Warning", "Info" or "Unknown", an icon is displayed based on this string.
In addition "Error" and "Warning" set the background color of the row to red and yellow respectively.
@demo demo/index.html
-->
<dom-module id="log-table">
  <template>
    <!-- this makes your element follow the general theme (things like fonts) -->
    <style include="reset-css"></style>
    <!-- this will allow you to use flexbox easily -->
    <!-- surf to /ts/common-elements/iron-flex-layout-attributes/index.html -->
    <style include="iron-flex-layout-attributes"></style>
    <style include="swatch-styles"></style>
    <style>
:host{display:block}.RowError-bkg{background-color:#e44e50}.RowWarning-bkg{background-color:orange}data-table-cell{padding:5px 10px;height:auto;font-size:11px}data-table-cell[header]{font-size:14px;height:auto;padding-top:10px;padding-bottom:10px}
</style>
    <iron-data-table id="table"
          items="[[log]]"
          flex
          style="height: 100%"
        >
      <data-table-column width="20px" flex="0">
        <template>
          <template is="dom-if" if="[[_isInfo(item.logLevel)]]">
            <iron-icon icon="icons:info-outline" title="Info"></iron-icon>
          </template>
          <template is="dom-if" if="[[_isError(item.logLevel)]]" style="color:red">
            <iron-icon icon="icons:report" title="Error"></iron-icon>
          </template>
          <template is="dom-if" if="[[_isWarning(item.logLevel)]]" style="color:orange">
            <iron-icon icon="icons:warning" title="Warning"></iron-icon>
          </template>
          <template is="dom-if" if="[[_isUnknown(item.logLevel)]]">
            <iron-icon icon="icons:help" title="Unknown"></iron-icon>
          </template>
        </template>
      </data-table-column>
      <data-table-column name="Time" width="130px" flex="0">
        <template>[[item.time]]</template>
      </data-table-column>
      <data-table-column name="Message" flex="2">
        <template>
          <template is="dom-if" if="[[!_isStringEmpty(item.logger)]]">
          [[item.logger]] &#62;
          </template>[[item.message]]
        </template>
      </data-table-column>
    </iron-data-table>
  </template>
  <script>
Polymer({is:"log-table",properties:{
//Contains the messages
log:{type:Array,value:function(){return[]}}},attached:function(){this.$.table.beforeRowBind=function(data,row){var logLevel=this.log[data.index].logLevel;row.toggleClass("RowError-bkg","Error"==logLevel),row.toggleClass("RowWarning-bkg","Warning"==logLevel)}.bind(this)},_isStringEmpty:function(str){return""==str},_isInfo:function(logLevel){return"Info"==logLevel},_isError:function(logLevel){return"Error"==logLevel},_isWarning:function(logLevel){return"Warning"==logLevel},
  _isUnknown:function(logLevel){return"Unknown"==logLevel}

});



</script>
</dom-module>
