<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/extern/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/extern/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/extern/bower_components/paper-button/paper-button.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/extern/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/extern/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-toast.html">



<dom-module id="feb-configuration-panel-supervisor">
  <template>
    <!-- <style include="reset-css"></style> -->
    <style include="iron-flex-layout-attributes"></style>
    <style>
    :host {
      display: block;
    }[logPanel]{padding:5px; height:500px; display: flex}
    paper-card {
      width: 95%;

      margin:1em;

    }
  .yellow-button {
    text-transform: none;
    color: #eeff41;
  }
  </style>

  <style is="custom-style">
  paper-button.green {
    background-color: var(--paper-green-700);
    color: white;
  }
</style>



<ts-ajax
    id="ajaxConfiguration"
    data="{{dataConfiguration}}"
    callback="onConfigureFEBsClick"
    parameters='["febConfig"]'
  ></ts-ajax>

  <ts-ajax 
    id="ajaxLoad"
    data="{{dataLoad}}"
    callback="onLoadConfigurationFEBsClick"
    parameters='["febLdConfig"]'
  ></ts-ajax>

  <ts-ajax
    id="ajaxMonitoring"
    data="{{dataMonitoring}}"
    callback="onMonitorFEBsClick"
  ></ts-ajax>
  
  <ts-ajax
    id="ajaxMonitoringPause"
    data="{{dataMonitoringPause}}"
    callback="onMonitorPauseFEBsClick"
  ></ts-ajax>

  <ts-ajax
    id="ajaxMonitoringResume"
    data="{{dataMonitoringResume}}"
    callback="onMonitorResumeFEBsClick"
  ></ts-ajax>

  <ts-ajax
    id="ajaxMonitoringTerminate"
    data="{{dataMonitoringTerminate}}"
    callback="onMonitorTerminateFEBsClick"
  ></ts-ajax>

  <ts-ajax
    id="ajaxMonitoringRefresh"
    data="{{dataMonitoringRefresh}}"
    callback="onMonitorRefreshFEBsClick"
    handle-as="text"
  ></ts-ajax>

<ts-ajax data="{{title}}" callback="febGetTitle" handle-as="text" auto></ts-ajax>
<h1><span>[[title]]</span></h1>



<paper-card>
  <div class="card-content">
    <p><b> <iron-icon icon="warning"></iron-icon>ATENTION: Please leave the use of this panel to experts!</b></p>
    <paper-checkbox checked={{isExpert}}>Tick this if you're an expert.</paper-checkbox>
  </div>
</paper-card>




<ts-ajax id="getFebConfigKeys" data="{{FebConfigKeys}}" callback="getFebConfigKeys" handle-as="json" auto></ts-ajax>
<iron-collapse id="collapse" opened="{{isExpert}}">

<!--Configuration  -->
  <paper-card heading="Configuration">
    <div class="card-content">
     <paper-button raised primary class="custom green" on-click="doConfiguration">Configure FEBs</paper-button>

     <paper-dropdown-menu label="FEB Configuration">
      <paper-listbox class="dropdown-content" attr-for-selected="data-tab" selected="FEBS_DEFAULT" slot="dropdown-content"  id="FebConfigKeysSelector">
        <template is="dom-repeat" items="{{FebConfigKeys}}" as="FebConfigKeys">
          <paper-item data-tab$="{{FebConfigKeys}}">{{FebConfigKeys}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu> 
  </div>
</paper-card> 


<!--Load Configuration  -->
  <paper-card heading="Load configuration into software">
    <div class="card-content">
     <paper-button raised primary class="custom green" on-click="doLoad">Load configuration for FEBs</paper-button>

     <paper-dropdown-menu label="FEB Configuration">
      <paper-listbox class="dropdown-content" attr-for-selected="data-tab" selected="FEBS_DEFAULT" slot="dropdown-content"  id="FebConfigKeysLoadSelector">
        <template is="dom-repeat" items="{{FebConfigKeys}}" as="FebConfigKeys">
          <paper-item data-tab$="{{FebConfigKeys}}">{{FebConfigKeys}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu> 
  </div>
</paper-card> 



<!--Monitoring  -->
  <paper-card heading="Monitoring">
    <div class="card-content">
     <paper-button raised primary class="custom green" on-click="doMonitoring">Monitor FEBs</paper-button>
     <paper-button raised primary class="custom green" on-click="doMonitoringPause">Pause</paper-button>
     <paper-button raised primary class="custom green" on-click="doMonitoringResume">Resume</paper-button>
     <paper-button raised primary class="custom green" on-click="doMonitoringTerminate">Terminate</paper-button>
     <paper-button raised primary class="custom green" on-click="doMonitoringRefresh">Refresh</paper-button>
  </div>
</paper-card> 
 
<paper-toast id="monitoringToast" duration="0" text="Progress Monitoring:"> 
  <br>
  <br>
[[dataMonitoringRefresh]]
<!-- <br><br<<paper-progress value="800" min="0" max="1000" class="red"></paper-progress><br> -->
<div align="right">
<paper-button onclick="monitoringToast.toggle()" class="yellow-button">Close</paper-button>
</div>
</paper-toast>

</iron-collapse>


<!--Other  -->
<ts-ajax data="{{FebSystemURL}}" callback="febGetFebSystemURL" handle-as="text" auto></ts-ajax>
<paper-card heading="Other">
  <div class="card-content">
   <a href=[[FebSystemURL]]  target="_blank">Detector Overview</a><br>
   <a href="http://pcrpct04.cms:8080/rpct-masking/" target="_blank"> Configuration Database GUI</a>


 </div>
</paper-card>








<!--logPanel  -->
<div logPanel >
  <paper-card style="width:100%; padding:5px" >
    <content select="log-panel"> </content>
  </paper-card>
</div>


</template>
<script>

  Polymer({
    is: 'feb-configuration-panel-supervisor',

    properties: {

      dataMonitoringRefresh: {
        type: String,
        value: "no monitoring data yet..."
      }
    },

    doMonitoring: function() {
      this.$.ajaxMonitoring.generateRequest();
      var loggerPanel = document.querySelector('log-panel');
      loggerPanel.getLog();
    },
    doMonitoringPause: function() {
      this.$.ajaxMonitoringPause.generateRequest();
    },
    doMonitoringResume: function() {
      this.$.ajaxMonitoringResume.generateRequest();
    },
    doMonitoringTerminate: function() {
      this.$.ajaxMonitoringRefresh.generateRequest();
    },
    doMonitoringRefresh: function() {
      monitoringToast.close();
      this.$.ajaxMonitoringRefresh.generateRequest();
      var loggerPanel = document.querySelector('log-panel');
      loggerPanel.getLog();
      monitoringToast.open();
    },
    doConfiguration: function(event) {
      var ajaxConfiguration = this.$.ajaxConfiguration;
      var febKey = this.$.FebConfigKeysSelector.selectedItem.attributes["data-tab"].value;
      // var febKey = this.$.FebConfigKeysSelector.items[this.selectedKey].attributes["data-tab"].value;
      ajaxConfiguration.set("febConfig", febKey);
      ajaxConfiguration.generateRequest();
    },
    doLoad: function(event) {
      var ajaxLoad = this.$.ajaxLoad;
      var febKeyLoad = this.$.FebConfigKeysLoadSelector.selectedItem.attributes["data-tab"].value;
      // var febKeyLoad = this.$.FebConfigKeysLoadSelector.items[this.selectedKey].attributes["data-tab"].value;
      ajaxLoad.set("febLdConfig", febKeyLoad);
      ajaxLoad.generateRequest();
    }
    
});

</script>
</dom-module>