<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/extern/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/extern/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/extern/bower_components/paper-button/paper-button.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/extern/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/extern/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/extern/bower_components/paper-spinner-lite/paper-spinner-lite.html">



<dom-module id="lbox-control-panel">
  <template>
    <!-- <style include="reset-css"></style> -->
    <style include="iron-flex-layout-attributes"></style>
    <style>
    :host {
      display: block;
    }[logPanel]{padding:5px; height:500px; display: flex}
    paper-card {
      width: 95%;

      margin:1em;

    }

/*    paper-checkbox {
      font-size: 12px;
      --paper-checkbox-size: 3px
    }
*/
    .vertical-divider{
      clear: both;
      position: relative;
    }

    .vertical-divider:after {
      clear: both;
      content: " ";
      display: block;
      height: 0;
      visibility: hidden;
    }

    .vertical-divider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
      background: #DDDDDD;
      bottom: 0;
      content: " ";
      margin-left: -10px;
      position: absolute;
      top: 0;
      width: 1px;
    }

    /* Very simple grid for example */
    /*.container { position: relative; width: 960px; margin: 20px auto; padding: 0; }*/
    .container { position: relative; width: 100%; margin: 20px auto; padding: 0; }

    .container .column, .container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }

    .container .one-third.column { width: 30%; }

    .container .one-half.column { width: 45%; margin-rightr: -20px;}

  </style>

  <style is="custom-style">
  paper-button.green {
    background-color: var(--paper-green-700);
    color: white;
    font-size: 12px;
  }

  paper-button.green[disabled] {
    background-color: var(--paper-red-500);
  }
</style>



<ts-ajax
    id="ajaxConfiguration"
    data="{{dataConfiguration}}"
    callback="onConfigureFEBsClick"
    parameters='["febConfig"]'
  ></ts-ajax>



  <ts-ajax
    id="ajaxMonitoring"
    data="{{dataMonitoring}}"
    callback="onMonitorFEBsClick"
  ></ts-ajax>

<h1><span>RPC Link Box Control</span></h1>


<!--logPanel  -->
<div logPanel >
  <paper-card style="width:100%; padding:5px" >
    <content select="log-panel"> </content>
  </paper-card>
</div>

<!-- config keys -->
<h2>Setup Config Keys:</h2>
<b>LB Config Key:</b>
<ts-ajax
  id="ajaxChangeLbKey"
  data="{{dataChangeLbKey}}"
  callback="doChangeLbKey"
  parameters='["lbConfigKeys"]'
></ts-ajax>

<paper-dropdown-menu label="LB Config Key">
<ts-ajax id="ajaxGetLBConfigKeys" data="{{lbconfigkeys}}" callback="doGetLBConfigKeys" handle-as="json" auto></ts-ajax>
<paper-listbox class="dropdown-content" attr-for-selected="lbConfigKey" selected="[[_firstItem(lbconfigkeys)]]" slot="dropdown-content"  id="lbConfigKeys" >
  <template is="dom-repeat" items="{{lbconfigkeys}}" as="lbconfigkey">
    <paper-item lbConfigKey$="{{lbconfigkey}}"  on-click="doChangeLbKey">{{lbconfigkey}}</paper-item>
  </template>
</paper-listbox>
</paper-dropdown-menu> 


<br>

<b>RBC Config Key:</b>
<ts-ajax
  id="ajaxChangeRbcKey"
  data="{{dataChangeRbcKey}}"
  callback="doChangeRbcKey"
  parameters='["rbcConfigKeys"]'
></ts-ajax>

<paper-dropdown-menu label="RBC Config Key:">
<ts-ajax id="ajaxGetRBCConfigKeys" data="{{rbcconfigkeys}}" callback="doGetRBCConfigKeys" handle-as="json" auto></ts-ajax>
<paper-listbox class="dropdown-content" attr-for-selected="rbcConfigKey" selected="[[_firstItem(rbcconfigkeys)]]" slot="dropdown-content"  id="rbcConfigKeys" >
  <template is="dom-repeat" items="{{rbcconfigkeys}}" as="rbcconfigkey">
    <paper-item rbcConfigKey$="{{rbcconfigkey}}"  on-click="doChangeRbcKey">{{rbcconfigkey}}</paper-item>
  </template>
</paper-listbox>
</paper-dropdown-menu> 


<!-- button land -->
<br><br>
<ts-ajax
    id="ajaxResetFEC"
    data="{{dataResetFEC}}"
    callback="onResetFEC"
  ></ts-ajax>
<paper-button raised primary class="custom green" on-click="doResetFEC">Reset FEC</paper-button>
<ts-ajax
    id="ajaxHardReset"
    data="{{dataHardReset}}"
    callback="onHardReset"
  ></ts-ajax>
<paper-button raised primary class="custom green" on-click="doHardReset">Hard Reset</paper-button>
<ts-ajax
    id="ajaxCheckHardware"
    data="{{dataCheckHardware}}"
    callback="onCheckHardware"
  ></ts-ajax>
<paper-button raised primary class="custom green" on-click="doCheckHardware">Check Hardware</paper-button>
<ts-ajax
    id="ajaxResetNotReadyCBTTCrxs"
    data="{{dataResetNotReadyCBTTCrxs}}"
    callback="onResetNotReadyCBTTCrxs"
  ></ts-ajax>
<paper-button raised primary class="custom green" on-click="doResetNotReadyCBTTCrxs">Reset not-ready CB TTCrx's</paper-button>
<br><br>
<h2>For selected boards:</h2>
<ts-ajax
  id="ajaxSetupBoards"
  data="{{dataSetupBoards}}"
  callback="onSetupBoards"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doSetupBoards">Setup Boards</paper-button>
<ts-ajax
  id="ajaxMakeFlashConfig"
  data="{{dataMakeFlashConfig}}"
  callback="onMakeFlashConfig"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doMakeFlashConfig">Generate Flash Configuration</paper-button>
<ts-ajax
  id="ajaxLoadFromCCU"
  data="{{dataLoadFromCCU}}"
  callback="onLoadFromCCU"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doLoadFromCCU">load from ccu</paper-button>
<ts-ajax
  id="ajaxLoadFromFlash"
  data="{{dataLoadFromFlash}}"
  callback="onLoadFromFlash"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doLoadFromFlash">load from flash</paper-button>
<br><br>
<ts-ajax
  id="ajaxProgramFlash"
  data="{{dataProgramFlash}}"
  callback="onProgramFlash"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doProgramFlash">program flash</paper-button>
<ts-ajax
  id="ajaxTest"
  data="{{dataTest}}"
  callback="onTest"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doTest">test</paper-button>
<ts-ajax
  id="ajaxSynchronizeLinks"
  data="{{dataSynchronizeLinks}}"
  callback="onSynchronizeLinks"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doSynchronizeLinks">synchronize links</paper-button>
<ts-ajax
  id="ajaxReadCBIC_RELOAD_CNT"
  data="{{dataReadCBIC_RELOAD_CNT}}"
  callback="onReadCBIC_RELOAD_CNT"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doReadCBIC_RELOAD_CNT">read cbic realod counter</paper-button>
<br><br>
<ts-ajax
  id="ajaxResetCBTTCrxs"
  data="{{dataResetCBTTCrxs}}"
  callback="onResetCBTTCrxs"
  parameters='["controlBoards", "linkBoards", "rbcBoards"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doResetCBTTCrxs">reset selected cb ttcrx's</paper-button>
<br><br>
<ts-ajax
  id="ajaxLinkBoxTest"
  data="{{dataLinkBoxTest}}"
  callback="onLinkBoxTest"
  parameters='["controlBoards", "linkBoards", "rbcBoards", "programFlash", "testPulses"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="doLinkBoxTest" disabled$="[[!activeLinkBoxText]]">link box test</paper-button>

<ts-ajax
  id="ajaxLinkBoxTest"
  data="{{dataLinkBoxTestContinue}}"
  callback="onLinkBoxTestContinue"
  parameters='["controlBoards", "linkBoards", "rbcBoards", "programFlash", "testPulses"]'
></ts-ajax>
<paper-button raised primary class="custom green" on-click="onLinkBoxTestContinue">continue</paper-button>

<paper-checkbox id="programFlashCB" checked={{programFlashIsChecked}}>Program Flash</paper-checkbox>
<paper-checkbox id="testPulsesCB" checked={{testPulsesIsChecked}}>Test Pulses</paper-checkbox>

<!-- half boxes -->
<br><br>
<h1>Half-Boxes:</h1>


<div style="width: 20%; float:left">
    <paper-button raised primary class="custom green" on-click="doSelectHalfBox" data-board="ALL_HALFBOX">Select all Half-Box</paper-button><br><br>
    <paper-button raised primary class="custom green" on-click="doSelectHalfBox" data-board="ALL_CB">Select all control boards</paper-button><br><br>
    <paper-button raised primary class="custom green" on-click="doSelectHalfBox" data-board="ALL_LB">Select all LINK BOARDS</paper-button>
    <br><br><paper-button raised primary class="custom green" on-click="doSelectHalfBox" data-board="ALL_RB">Select all rbc boards</paper-button>
</div>

<div style="width: 80%; float:right">
   <paper-button raised primary class="custom green" on-click="doDeselectHalfBox" data-board="ALL_HALFBOX">Deselect all Half-Box</paper-button>
    <br><br><paper-button raised primary class="custom green" on-click="doDeselectHalfBox" data-board="ALL_CB">Deselect all control boards</paper-button>
    <br><br><paper-button raised primary class="custom green" on-click="doDeselectHalfBox" data-board="ALL_LB">Deselect all link boards</paper-button>
    <br><br><paper-button raised primary class="custom green" on-click="doDeselectHalfBox" data-board="ALL_RB">Deselect all rbc boards</paper-button>
</div>

 
<ts-ajax id="ajaxGetHalfBoxes" data="{{halfboxes}}" callback="doGetHalfBoxes" handle-as="json" auto></ts-ajax>
<template is="dom-repeat" items="{{halfboxes}}" as="halfbox">
  <paper-card heading$="{{halfbox.halfb}}">
    <div class="card-content">
      <paper-button raised primary class="custom green" on-click="doSelectHalfBox" data-hb$="{{halfbox.halfb}}">Select Half-Box</paper-button>
      <paper-button raised primary class="custom green" on-click="doDeselectHalfBox" data-hb$="{{halfbox.halfb}}">Deselect Half-Box</paper-button>

        <div class="container vertical-divider">

          <div class="column one-third">
            <h3>Control Boards:</h3>
            <paper-listbox>
              <br><paper-checkbox id$="{{halfbox.control_board}}"  class="hb_CONTROL_BOARD" data-hb$="{{halfbox.halfb}}">{{halfbox.control_board}}</paper-checkbox><br>
            </paper-listbox>
          </div>

          <div class="column one-third">
            <h3>Link Boards:</h3>
            <paper-listbox>
            <template is="dom-repeat" items="{{halfbox.link_board}}" as="lboard">
              <br><paper-checkbox id$="{{lboard}}"  class="hb_LINK_BOARD" data-hb$="{{halfbox.halfb}}">{{lboard}}</paper-checkbox><br>
            </template>
            </paper-listbox>
          </div>

          <div class="column one-third">
            <h3>RBC Boards:</h3>
            <paper-listbox>
            <template is="dom-if" if="[[_notEmpty(halfbox.rbc_board)]]">
              <br><paper-checkbox id$="{{halfbox.rbc_board}}"  class="hb_RBC_BOARD" data-hb$="{{halfbox.halfb}}">{{halfbox.rbc_board}}</paper-checkbox><br>
            </template>
                
            </paper-listbox>
          </div>

        </div>
  </div>
  </paper-card> <br><br>
</template>


</template>
<script>

  Polymer({
    is: 'lbox-control-panel',
    properties: {
      programFlashIsChecked: {
        type: Boolean,
        value: function() {
          return true;
        }
      },
      testPulsesIsChecked: {
        type: Boolean,
        value: function() {
          return true;
        }
      },
      activeLinkBoxText: {
        type: Boolean,
        value: function() {
          return true;
        }
      }
    },
    _firstItem: function(items) {
      if (items.length > 0) {
        return items[0];
      }
    },
    _notEmpty: function(item) {
      if (item != "") {
        return true;
      } else {
        return false;
      }
    },
    doGetLBConfigKeys: function() {
      this.$.ajaxGetLBConfigKeys.generateRequest();
    },
    doGetHalfBoxes: function() {
      this.$.ajaxGetHalfBoxes.generateRequest();
    },
    doGetRBCConfigKeys: function() {
      this.$.ajaxGetRBCConfigKeys.generateRequest();
    },
    doResetFEC: function() {
      this.$.ajaxResetFEC.generateRequest();
      // document.location.reload(true);
    },
    doHardReset: function() {
      this.$.ajaxHardReset.generateRequest();
      // document.location.reload(true);
    },
    doCheckHardware: function() {
      this.$.ajaxCheckHardware.generateRequest();
      // document.location.reload(true);
    },
    doResetNotReadyCBTTCrxs: function() {
      this.$.ajaxResetNotReadyCBTTCrxs.generateRequest();
      // document.location.reload(true);
    },
    getControlBoardArrays: function() {
      var elementList = document.querySelectorAll('paper-checkbox[checked].hb_CONTROL_BOARD');
      var elementArray = [];
      for (var i = 0, len = elementList.length; i < len; i++) {
        // console.log(elementList[i].attributes["id"].value);
        elementArray.push(elementList[i].attributes["id"].value);
      }
      return elementArray;
    },
    getLinkBoardArrays: function() {
      var elementList = document.querySelectorAll('paper-checkbox[checked].hb_LINK_BOARD');
      var elementArray = [];
      for (var i = 0, len = elementList.length; i < len; i++) {
        // console.log(elementList[i].attributes["id"].value);
        elementArray.push(elementList[i].attributes["id"].value);
      }
      return elementArray;
    },
    getRbcBoardArrays: function() {
      var elementList = document.querySelectorAll('paper-checkbox[checked].hb_RBC_BOARD');
      var elementArray = [];
      for (var i = 0, len = elementList.length; i < len; i++) {
        // console.log(elementList[i].attributes["id"].value);
        elementArray.push(elementList[i].attributes["id"].value);
      }
      return elementArray;
    },
    doSetupBoards: function(event) {
      var ajaxConfiguration = this.$.ajaxSetupBoards;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doMakeFlashConfig: function(event) {
      var ajaxConfiguration = this.$.ajaxMakeFlashConfig;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doLoadFromCCU: function(event) {
      var ajaxConfiguration = this.$.ajaxLoadFromCCU;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doLoadFromFlash: function(event) {
      var ajaxConfiguration = this.$.ajaxLoadFromFlash;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doProgramFlash: function(event) {
      var ajaxConfiguration = this.$.ajaxProgramFlash;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doTest: function(event) {
      var ajaxConfiguration = this.$.ajaxTest;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doSynchronizeLinks: function(event) {
      var ajaxConfiguration = this.$.ajaxSynchronizeLinks;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doReadCBIC_RELOAD_CNT: function(event) {
      var ajaxConfiguration = this.$.ajaxReadCBIC_RELOAD_CNT;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doResetCBTTCrxs: function(event) {
      var ajaxConfiguration = this.$.ajaxResetCBTTCrxs;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      ajaxConfiguration.generateRequest();
    },
    doLinkBoxTest: function(event) {
      var ajaxConfiguration = this.$.ajaxLinkBoxTest;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      // console.log(this.programFlashIsChecked);
      // console.log(this.testPulsesIsChecked);
      ajaxConfiguration.set("programFlash", this.programFlashIsChecked);
      ajaxConfiguration.set("testPulses", this.testPulsesIsChecked);
      ajaxConfiguration.generateRequest();
      // console.log(this.activeLinkBoxText);
    },
    doLinkBoxTestContinue: function(event) {
      var ajaxConfiguration = this.$.ajaxLinkBoxTestContinue;
      // console.log(this.getControlBoardArrays());
      // console.log(this.getLinkBoardArrays());
      // console.log(this.getRbcBoardArrays());
      ajaxConfiguration.set("controlBoards", this.getControlBoardArrays());
      ajaxConfiguration.set("linkBoards", this.getLinkBoardArrays());
      ajaxConfiguration.set("rbcBoards", this.getRbcBoardArrays());
      // console.log(this.programFlashIsChecked);
      // console.log(this.testPulsesIsChecked);
      ajaxConfiguration.set("programFlash", this.programFlashIsChecked);
      ajaxConfiguration.set("testPulses", this.testPulsesIsChecked);
      ajaxConfiguration.generateRequest();
      // console.log(this.activeLinkBoxText);
    },
    doSelectHalfBox: function(e) {
      var checkboxes = document.querySelectorAll('.hb_LINK_BOARD, .hb_CONTROL_BOARD, .hb_RBC_BOARD');
      for (var i = 0, len = checkboxes.length; i < len; i++) {
        // console.log(gg);
        // e.target.dataset.hb
        if (checkboxes[i].dataset.hb == e.target.dataset.hb) {
          checkboxes[i].checked=true;
        }
      }
      if (e.target.dataset.board == "ALL_HALFBOX"){
        // console.log("oi");
        var checkboxes = document.querySelectorAll('.hb_LINK_BOARD, .hb_CONTROL_BOARD, .hb_RBC_BOARD');
        for (var i = 0, len = checkboxes.length; i < len; i++) {
          checkboxes[i].checked=true;
        }
      }
      if (e.target.dataset.board == "ALL_CB"){
        var checkboxes = document.querySelectorAll('.hb_CONTROL_BOARD');
        for (var i = 0, len = checkboxes.length; i < len; i++) {
          checkboxes[i].checked=true;
        }
      }
      if (e.target.dataset.board == "ALL_LB"){
        var checkboxes = document.querySelectorAll('.hb_LINK_BOARD');
        for (var i = 0, len = checkboxes.length; i < len; i++) {
          checkboxes[i].checked=true;
        }
      }
      if (e.target.dataset.board == "ALL_RB"){
        var checkboxes = document.querySelectorAll('.hb_RBC_BOARD');
        for (var i = 0, len = checkboxes.length; i < len; i++) {
          checkboxes[i].checked=true;
        }
      }

      // this.$.ajaxResetAll.generateRequest();
      // this.showWarning();
    },
    doDeselectHalfBox: function(e) {
      var checkboxes = document.querySelectorAll('.hb_LINK_BOARD, .hb_CONTROL_BOARD, .hb_RBC_BOARD');
      for (var i = 0, len = checkboxes.length; i < len; i++) {
        // console.log(gg);
        // e.target.dataset.hb
        if (checkboxes[i].dataset.hb == e.target.dataset.hb) {
          checkboxes[i].checked=false;
        }
      }
      if (e.target.dataset.board == "ALL_HALFBOX"){
        console.log("oi");
        var checkboxes = document.querySelectorAll('.hb_LINK_BOARD, .hb_CONTROL_BOARD, .hb_RBC_BOARD');
        for (var i = 0, len = checkboxes.length; i < len; i++) {
          checkboxes[i].checked=false;
        }
      }
      if (e.target.dataset.board == "ALL_CB"){
        var checkboxes = document.querySelectorAll('.hb_CONTROL_BOARD');
        for (var i = 0, len = checkboxes.length; i < len; i++) {
          checkboxes[i].checked=false;
        }
      }
      if (e.target.dataset.board == "ALL_LB"){
        var checkboxes = document.querySelectorAll('.hb_LINK_BOARD');
        for (var i = 0, len = checkboxes.length; i < len; i++) {
          checkboxes[i].checked=false;
        }
      }
      if (e.target.dataset.board == "ALL_RB"){
        var checkboxes = document.querySelectorAll('.hb_RBC_BOARD');
        for (var i = 0, len = checkboxes.length; i < len; i++) {
          checkboxes[i].checked=false;
        }
      }
    },

    doChangeRbcKey: function(event) {
      var ajaxConfiguration = this.$.ajaxChangeRbcKey;
      var RbcKey = this.$.rbcConfigKeys.selectedItem.attributes["rbcConfigKey"].value;
      ajaxConfiguration.set("rbcConfigKeys", RbcKey);
      ajaxConfiguration.generateRequest();
    },
    doChangeLbKey: function(event) {
      var ajaxConfiguration = this.$.ajaxChangeLbKey;
      var LbKey = this.$.lbConfigKeys.selectedItem.attributes["lbConfigKey"].value;
      ajaxConfiguration.set("lbConfigKeys", LbKey);
      // console.log(LbKey);
      ajaxConfiguration.generateRequest();
    }

});

</script>
</dom-module>