<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/extern/bower_components/paper-button/paper-button.html">



<dom-module id="button-widget">
  <template>

    <style include="reset-css"></style>
    <!-- <style include="iron-flex-layout-attributes"></style> -->
 <!--    <style>
    :host{display:block}
  </style> -->

 <!--    <style>
:host{display:block;height:100%}
</style> -->

<!--     <ts-ajax
        id="loggersLoader"
        callback="LogPanel::getLoggers"
        data="{{loggers}}"
        auto
        ></ts-ajax> -->


        <paper-button raised  on-click="doCall">Button</paper-button>

      </template>
      <script>
        Polymer({
          is:"button-widget",
          doLCall: function(event) {
          var ajaxLoad = this.$.ajaxLoad;
          var febKeyLoad = this.$.FebConfigKeysLoadSelector.selectedItem.attributes["data-tab"].value;
          // var febKeyLoad = this.$.FebConfigKeysLoadSelector.items[this.selectedKey].attributes["data-tab"].value;
          ajaxLoad.set("febConfig", febKeyLoad);
          ajaxLoad.generateRequest();
    }
  });
      </script>
    </dom-module>
