<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/extern/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/extern/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/extern/bower_components/paper-button/paper-button.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/extern/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/extern/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">



<dom-module id="feb-connectivity-test-panel">
  <template>
    <!-- <style include="reset-css"></style> -->
    <style include="iron-flex-layout-attributes"></style>
    <style>
    :host {
      display: block;
      }[logPanel]{padding:5px; height:500px; display: flex}
      paper-card {
        width: 95%;

        margin:1em;

      }

      .vertical-divider{
        clear: both;
        position: relative;
      }

      .vertical-divider:after {
        clear: both;
        content: " ";
        display: block;
        height: 0;
        visibility: hidden;
      }

      .vertical-divider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
        background: #DDDDDD;
        bottom: 0;
        content: " ";
        margin-left: -10px;
        position: absolute;
        top: 0;
        width: 1px;
      }

      /* Very simple grid for example */
      /*.container { position: relative; width: 960px; margin: 20px auto; padding: 0; }*/
      .container { position: relative; width: 100%; margin: 20px auto; padding: 0; }

      .container .column, .container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }

      .container .one-half.column { width: 45%; }

    </style>

    <style is="custom-style">
    paper-button.green {
      background-color: var(--paper-green-700);
      color: white;
    }
  </style>



<ts-ajax
    id="ajaxMonitoringPause"
    data="{{dataMonitoringPause}}"
    callback="onMonitorPauseFEBsClick"
  ></ts-ajax>

  <ts-ajax
    id="ajaxMonitoringResume"
    data="{{dataMonitoringResume}}"
    callback="onMonitorResumeFEBsClick"
  ></ts-ajax>

  <ts-ajax
    id="ajaxMonitoringTerminate"
    data="{{dataMonitoringTerminate}}"
    callback="onMonitorTerminateFEBsClick"
  ></ts-ajax>

  <ts-ajax
    id="ajaxMonitoringRefresh"
    data="{{dataMonitoringRefresh}}"
    callback="onMonitorRefreshFEBsClick"
    handle-as="text"
  ></ts-ajax>



    <ts-ajax
    id="ajaxSelectBarrel"
    data="{{dataSelectBarrel}}"
    callback="onSelectBarrel"
    parameters='["isBarrel", "wheel", "station", "layer", "sector", "subsector", "action"]'
    ></ts-ajax>

    <ts-ajax
    id="ajaxSelectEndcap"
    data="{{dataSelectEndcap}}"
    callback="onSelectEndcap"
    parameters='["isBarrel", "disk", "ring", "chamber", "action"]'
    ></ts-ajax>

    <ts-ajax
    id="ajaxSelectByName"
    data="{{dataSelectByName}}"
    callback="onSelectByName"
    parameters='["name", "action"]'
    ></ts-ajax>


    <ts-ajax
    id="ajaxClearSelection"
    data="{{dataClearSelection}}"
    callback="onClearSelection"
    ></ts-ajax>

    <ts-ajax 
      id="ajaxReadRollSelection" 
      data="{{dataReadRollSelection}}" 
      callback="onReadRollSelection" 
      handle-as="json" 
      auto></ts-ajax>

    <ts-ajax 
      id="ajaxGetFebUnit" 
      data="{{dataGetFebUnit}}" 
      callback="onGetFebUnit" 
      handle-as="text" 
      auto></ts-ajax>

    <ts-ajax
    id="ajaxStartFebConfiguration"
    data="{{dataStartFebConfiguration}}"
    callback="onStartFebConfiguration"
    parameters='["vth", "vmon", "duration", "autocorrect", "includedisabled", "storeoutput"]'
    ></ts-ajax>

    <ts-ajax
    id="ajaxStartFebConnectivityTest"
    data="{{dataStartFebConnectivityTest}}"
    callback="onStartFebConnectivityTest"
    parameters='["vthlow", "vthhigh", "vmon", "duration", "autocorrect", "usepulser", "includedisabled"]'
    ></ts-ajax>

    <ts-ajax
    id="ajaxStartFebThresholdScan"
    data="{{dataStartFebThresholdScan}}"
    callback="onStartFebThresholdScan"
    parameters='["vthmin", "vthstepsize", "vthnsteps", "vmon", "duration", "autocorrect", "usepulser", includedisabled"]'
    ></ts-ajax>


    <h1><span>FEB Commissioning Panel for [[title]]</span></h1>



    <paper-card>
      <div class="card-content">
        <p><b> <iron-icon icon="warning"></iron-icon>ATENTION: Please leave the use of this panel to experts!</b></p>
        <paper-checkbox checked={{isExpert}}>Tick this if you're an expert.</paper-checkbox>
      </div>
    </paper-card>




    <!-- <ts-ajax id="getFebConfigKeys" data="{{FebConfigKeys}}" callback="getFebConfigKeys" handle-as="json" auto></ts-ajax> -->
    <iron-collapse id="collapse" opened="{{isExpert}}">

      <!--Barrel selection  -->
      <paper-card heading="Barrel selection">
        <div class="card-content">

         <paper-dropdown-menu label="Station">
          <paper-listbox class="dropdown-content" attr-for-selected="value" selected="99" slot="dropdown-content"  id="barrelStation">
            <template is="dom-repeat" items="{{barrelStations}}" as="barrelStation">
              <paper-item value$="{{barrelStation.value}}">{{barrelStation.name}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu> 

        <paper-dropdown-menu label="Layer">
          <paper-listbox class="dropdown-content" attr-for-selected="value" selected="99" slot="dropdown-content"  id="barrelLayer">
            <template is="dom-repeat" items="{{barrelLayers}}" as="barrelLayer">
              <paper-item value$="{{barrelLayer.value}}">{{barrelLayer.name}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu> 

        <paper-dropdown-menu label="Wheel">
          <paper-listbox class="dropdown-content" attr-for-selected="value" selected="99" slot="dropdown-content"  id="barrelWheel">
            <template is="dom-repeat" items="{{barrelWheels}}" as="barrelWheel">
              <paper-item value$="{{barrelWheel.value}}">{{barrelWheel.name}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu> 

        <paper-dropdown-menu label="Sector">
          <paper-listbox class="dropdown-content" attr-for-selected="value" selected="99" slot="dropdown-content"  id="barrelSector">
            <template is="dom-repeat" items="{{barrelSectors}}" as="barrelSector">
              <paper-item value$="{{barrelSector.value}}">{{barrelSector.name}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu> 

        <paper-dropdown-menu label="Subsector">
          <paper-listbox class="dropdown-content" attr-for-selected="value" selected="99" slot="dropdown-content"  id="barrelSubsector">
            <template is="dom-repeat" items="{{barrelSubsectors}}" as="barrelSubsector">
              <paper-item value$="{{barrelSubsector.value}}">{{barrelSubsector.name}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu> 

        <paper-dropdown-menu label="Action">
          <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="barrelAction">
            <template is="dom-repeat" items="{{barrelActions}}" as="barrelAction">
              <paper-item value$="{{barrelAction.value}}">{{barrelAction.name}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu> 

        <br>
        <paper-button raised primary class="custom green" on-click="doSelectBarrel">Select Chambers</paper-button>
      </div>
    </paper-card> 




    <!--Endcap selection  -->
    <paper-card heading="Endcap selection">
      <div class="card-content">

       <paper-dropdown-menu label="Disk">
        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="99" slot="dropdown-content"  id="endcapDisk">
          <template is="dom-repeat" items="{{endcapDisks}}" as="endcapDisk">
            <paper-item value$="{{endcapDisk.value}}">{{endcapDisk.name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu> 

      <paper-dropdown-menu label="Ring">
        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="99" slot="dropdown-content"  id="endcapRing">
          <template is="dom-repeat" items="{{endcapRings}}" as="endcapRing">
            <paper-item value$="{{endcapRing.value}}">{{endcapRing.name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu> 

      <paper-dropdown-menu label="Chamber">
        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="99" slot="dropdown-content"  id="endcapChamber">
          <template is="dom-repeat" items="{{endcapChambers}}" as="endcapChamber">
            <paper-item value$="{{endcapChamber.value}}">{{endcapChamber.name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu> 

      <paper-dropdown-menu label="Action">
        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="endcapAction">
          <template is="dom-repeat" items="{{endcapActions}}" as="endcapAction">
            <paper-item value$="{{endcapAction.value}}">{{endcapAction.name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu> 


      <br>
      <paper-button raised primary class="custom green" on-click="doSelectEndcap">Select Chambers</paper-button>
    </div>
  </paper-card> 


  <!--Select by name  -->
  <paper-card heading="Select by name">
    <div class="card-content">

      <paper-input style="max-width:300px" id="bynameName" label="Chamber(s) Name"></paper-input>
      <paper-dropdown-menu label="Action">
        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="bynameAction">
          <template is="dom-repeat" items="{{bynameActions}}" as="bynameAction">
            <paper-item value$="{{bynameAction.value}}">{{bynameAction.name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu> 


      <br>
      <paper-button raised primary class="custom green" on-click="doSelectByName">Select Chambers</paper-button>
    </div>
  </paper-card> 



  <!--Roll Selection  -->
  <paper-card heading="Roll Selection">
    <div class="card-content">

      <div class="container vertical-divider">

        <div class="column one-half">
          <h3>Selected:</h3>
          <paper-listbox>
          <template is="dom-repeat" items="{{dataReadRollSelection.selected}}" as="selectedRoll">
            <paper-item>{{selectedRoll}}</paper-item>
          </template>
          </paper-listbox>
        </div>

        <div class="column one-half">
          <h3>Masked:</h3>
          <paper-listbox>
          <template is="dom-repeat" items="{{dataReadRollSelection.masked}}" as="maskedRoll">
            <paper-item>{{maskedRoll}}</paper-item>
          </template>
          </paper-listbox>
        </div>

      </div>

      <br>
      <paper-button raised primary class="custom green" on-click="doClearSelection">Clear Selection</paper-button>
    </div>
  </paper-card> 

  <!--FEB Configuration  -->
  <paper-card heading="FEB Configuration">
    <div class="card-content">
     <b>FEB Settings</b><br>
     <paper-dropdown-menu label="VTh (mV)">
      <paper-listbox class="dropdown-content" attr-for-selected="value" selected="86" slot="dropdown-content"  id="febConfigVTh">
        <template is="dom-repeat" items="{{febConfigVThs}}" as="febConfigVTh">
          <paper-item value$="{{febConfigVTh.value}}">{{febConfigVTh.name}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu> 
    
    <paper-dropdown-menu label="VMon (mV)">
      <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1434" slot="dropdown-content"  id="febConfigVMon">
        <template is="dom-repeat" items="{{febConfigVMons}}" as="febConfigVMon">
          <paper-item value$="{{febConfigVMon.value}}">{{febConfigVMon.name}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu> 
    
    <paper-dropdown-menu label="Auto Correct VTh">
      <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="febConfigAutoCorrectVTh">
        <template is="dom-repeat" items="{{febConfigAutoCorrectVThs}}" as="febConfigAutoCorrectVTh">
          <paper-item value$="{{febConfigAutoCorrectVTh.value}}">{{febConfigAutoCorrectVTh.name}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu> 
    
    <paper-dropdown-menu label="Include Disabled">
      <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="febConfigIncludeDisabled">
        <template is="dom-repeat" items="{{febConfigIncludeDisableds}}" as="febConfigIncludeDisabled">
          <paper-item value$="{{febConfigIncludeDisabled.value}}">{{febConfigIncludeDisabled.name}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu> 
    
    <br><br>
    <b>LinkBoard Settings</b><br>
    <paper-dropdown-menu label="Count Duration">
      <paper-listbox class="dropdown-content" attr-for-selected="value" selected="0" slot="dropdown-content"  id="febConfigCountDuration">
        <template is="dom-repeat" items="{{febConfigCountDurations}}" as="febConfigCountDuration">
          <paper-item value$="{{febConfigCountDuration.value}}">{{febConfigCountDuration.name}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu> 
    
    <br><br>
    <b>Start Feb Configuration</b><br>
    <paper-dropdown-menu label="Store Output">
      <paper-listbox class="dropdown-content" attr-for-selected="value" selected="0" slot="dropdown-content"  id="febConfigStoreOutput">
        <template is="dom-repeat" items="{{febConfigStoreOutputs}}" as="febConfigStoreOutput">
          <paper-item value$="{{febConfigStoreOutput.value}}">{{febConfigStoreOutput.name}}</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu> 

    <paper-button raised primary class="custom green" on-click="doStartFebConfiguration">Start Test</paper-button>
  </div>
</paper-card> 



<!-- Feb ConnectivityTest  -->
<paper-card heading="Feb ConnectivityTest">
  <div class="card-content">
   <b>FEB Settings</b><br>
   <paper-dropdown-menu label="VTh Low (mV)">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="16" slot="dropdown-content"  id="febConnectVThLow">
      <template is="dom-repeat" items="{{febConnectVThLows}}" as="febConnectVThLow">
        <paper-item value$="{{febConnectVThLow.value}}">{{febConnectVThLow.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <paper-dropdown-menu label="VTh High (mV)">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="164" slot="dropdown-content"  id="febConnectVThHigh">
      <template is="dom-repeat" items="{{febConnectVThHighs}}" as="febConnectVThHigh">
        <paper-item value$="{{febConnectVThHigh.value}}">{{febConnectVThHigh.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <paper-dropdown-menu label=" VTMon (mV)">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1434" slot="dropdown-content"  id="febConnectVTMon">
      <template is="dom-repeat" items="{{febConnectVTMons}}" as="febConnectVTMon">
        <paper-item value$="{{febConnectVTMon.value}}">{{febConnectVTMon.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <paper-dropdown-menu label="Auto Correct Vth">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="febConnectAutoCorrectVth">
      <template is="dom-repeat" items="{{febConnectAutoCorrectVths}}" as="febConnectAutoCorrectVth">
        <paper-item value$="{{febConnectAutoCorrectVth.value}}">{{febConnectAutoCorrectVth.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu>

  <paper-dropdown-menu label="Include Disabled">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="febConnectIncludeDisabled">
      <template is="dom-repeat" items="{{febConnectIncludeDisableds}}" as="febConnectIncludeDisabled">
        <paper-item value$="{{febConnectIncludeDisabled.value}}">{{febConnectIncludeDisabled.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <br><br>
  <b>LinkBoard Settings</b><br>
  <paper-dropdown-menu label="Count Duration">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="0" slot="dropdown-content"  id="febConnectCountDuration">
      <template is="dom-repeat" items="{{febConnectCountDurations}}" as="febConnectCountDuration">
        <paper-item value$="{{febConnectCountDuration.value}}">{{febConnectCountDuration.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu>

  <paper-dropdown-menu label="Use Pulser">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="0" slot="dropdown-content"  id="febConnectUsePulser">
      <template is="dom-repeat" items="{{febConnectUsePulsers}}" as="febConnectUsePulser">
        <paper-item value$="{{febConnectUsePulser.value}}">{{febConnectUsePulser.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <br><br>
  <b>Start Connectivity Test</b><br><br>
  <paper-button raised primary class="custom green" on-click="doStartFebConnectivityTest">Start Test</paper-button>
</div>
</paper-card> 



<!-- Feb ThresholdScan  -->
<paper-card heading="Feb Threshold Scan">
  <div class="card-content">
   <b>FEB Settings</b><br>
   <paper-dropdown-menu label="VTh Min (mV)">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="34" slot="dropdown-content"  id="febThresholdVThMin">
      <template is="dom-repeat" items="{{febThresholdVThMins}}" as="febThresholdVThMin">
        <paper-item value$="{{febThresholdVThMin.value}}">{{febThresholdVThMin.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <paper-dropdown-menu label="Step Size (mV)">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="4" slot="dropdown-content"  id="febThresholdStepSize">
      <template is="dom-repeat" items="{{febThresholdStepSizes}}" as="febThresholdStepSize">
        <paper-item value$="{{febThresholdStepSize.value}}">{{febThresholdStepSize.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <paper-dropdown-menu label="Steps">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="29" slot="dropdown-content"  id="febThresholdSteps">
      <template is="dom-repeat" items="{{febThresholdStepss}}" as="febThresholdSteps">
        <paper-item value$="{{febThresholdSteps.value}}">{{febThresholdSteps.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 


  <paper-dropdown-menu label="VTMon (mV)">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1434" slot="dropdown-content"  id="febThresholdVMon">
      <template is="dom-repeat" items="{{febThresholdVTMons}}" as="febThresholdVTMon">
        <paper-item value$="{{febThresholdVTMon.value}}">{{febThresholdVTMon.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <paper-dropdown-menu label="Auto Correct Vth">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="febThresholdAutoCorrectVth">
      <template is="dom-repeat" items="{{febThresholdAutoCorrectVths}}" as="febThresholdAutoCorrectVth">
        <paper-item value$="{{febThresholdAutoCorrectVth.value}}">{{febThresholdAutoCorrectVth.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <paper-dropdown-menu label="Include Disabled">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="1" slot="dropdown-content"  id="febThresholdIncludeDisabled">
      <template is="dom-repeat" items="{{febThresholdIncludeDisableds}}" as="febThresholdIncludeDisabled">
        <paper-item value$="{{febThresholdIncludeDisabled.value}}">{{febThresholdIncludeDisabled.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <br><br>
  <b>LinkBoard Settings</b><br>
  <paper-dropdown-menu label="Count Duration">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="0" slot="dropdown-content"  id="febThresholdCountDuration">
      <template is="dom-repeat" items="{{febThresholdCountDurations}}" as="febThresholdCountDuration">
        <paper-item value$="{{febThresholdCountDuration.value}}">{{febThresholdCountDuration.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu>

  <paper-dropdown-menu label="Use Pulser">
    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="0" slot="dropdown-content"  id="febThresholdUsePulser">
      <template is="dom-repeat" items="{{febThresholdUsePulsers}}" as="febThresholdUsePulser">
        <paper-item value$="{{febThresholdUsePulser.value}}">{{febThresholdUsePulser.name}}</paper-item>
      </template>
    </paper-listbox>
  </paper-dropdown-menu> 

  <br><br>
  <b>Start Connectivity Test</b><br><br>
  <paper-button raised primary class="custom green" on-click="doStartFebThresholdScan">Start Test</paper-button>
</div>
</paper-card> 


<!--Monitoring  -->
  <paper-card heading="Monitoring">
    <div class="card-content">
     <!-- <paper-button raised primary class="custom green" on-click="doMonitoring">Monitor FEBs</paper-button> -->
     <paper-button raised primary class="custom green" on-click="doMonitoringPause">Pause</paper-button>
     <paper-button raised primary class="custom green" on-click="doMonitoringResume">Resume</paper-button>
     <paper-button raised primary class="custom green" on-click="doMonitoringTerminate">Terminate</paper-button>
     <paper-button raised primary class="custom green" on-click="doMonitoringRefresh">Refresh</paper-button>
  </div>
</paper-card> 

<paper-toast id="monitoringToast" duration="0" text="Progress Monitoring:"> 
  <br>
  <br>
[[dataMonitoringRefresh]]
<!-- <br><br<<paper-progress value="800" min="0" max="1000" class="red"></paper-progress><br> -->
<div align="right">
<paper-button onclick="monitoringToast.toggle()" class="yellow-button">Close</paper-button>
</div>
</paper-toast>

</iron-collapse>



<!--logPanel  -->
<div logPanel >
  <paper-card style="width:100%; padding:5px" >
    <content select="log-panel"> </content>
  </paper-card>
</div>


</template>
<script>



  Polymer({
    is: 'feb-connectivity-test-panel',
    properties: {
      dataReadRollSelection: {
        type: Object,
        value: function() { return {} 
        },
      },
      dataGetFebUnit: {
        type: String,
        value: "1.0" 
      },
      title: {
        type: String,
        value: " "
      },
      dataMonitoringRefresh: {
        type: String,
        value: "no monitoring data yet..."
      },
      // barrel properties
      barrelStations: {
        type: Array,
        value: function() { return [
          // {value:99, name:"Station" },
          {value:99, name:"RB*" },
          {value:1, name:"RB1" },
          {value:2, name:"RB2" },
          {value:3, name:"RB3" },
          {value:4, name:"RB4" }
          ]; }
        },
        barrelLayers: {
          type: Array,
          value: function() { return [
            // {value:99, name:"Layer" },
            {value:99, name:"*" },
            {value:1, name:"[none]" },
            {value:1, name:"in" },
            {value:2, name:"out" }
            ]; }
          },
          barrelWheels: {
            type: Array,
            value: function() { return [
              // {value:99, name:"Wheel" },
              {value:99, name:"W*" },
              {value:-2, name:"W-2" },
              {value:-1, name:"W-1" },
              {value:0, name:"W0" },
              {value:1, name:"W+1" },
              {value:2, name:"W+2" }
              ]; }
            },
            barrelSectors: {
              type: Array,
              value: function() { return [
                // {value:99, name:"Sector" },
                {value:99, name:"S*" },
                {value:1, name:"S1" },
                {value:2, name:"S2" },
                {value:3, name:"S3" },
                {value:4, name:"S4" },
                {value:5, name:"S5" },
                {value:6, name:"S6" },
                {value:7, name:"S7" },
                {value:8, name:"S8" },
                {value:9, name:"S9" },
                {value:10, name:"S10" },
                {value:11, name:"S11" },
                {value:12, name:"S12" }
                ]; }
              },
              barrelSubsectors: {
                type: Array,
                value: function() { return [
                  // {value:99, name:"Subsector" },
                  {value:99, name:"*" },
                  {value:0, name:"[none]" },
                  {value:1, name:"--" },
                  {value:2, name:"-" },
                  {value:3, name:"+" },
                  {value:4, name:"++" }
                  ]; }
                },
                barrelActions: {
                  type: Array,
                  value: function() { return [
                    {value:"1", name:"Select" },
                    {value:"2", name:"Mask" },
                    {value:"3", name:"Deselect" },
                    {value:"4", name:"Unmask" }
                    ]; }
                  },
      // endcap properties
      endcapDisks: {
        type: Array,
        value: function() { return [
          // {value:99, name:"Disk" },
          {value:99, name:"*" },
          {value:-4, name:"RE-4" },
          {value:-3, name:"RE-3" },
          {value:-2, name:"RE-2" },
          {value:-1, name:"RE-1" },
          {value:1, name:"RE+1" },
          {value:2, name:"RE+2" },
          {value:3, name:"RE+3" },
          {value:4, name:"RE+4" }
          ]; }
        },
        endcapRings: {
          type: Array,
          value: function() { return [
            // {value:99, name:"Ring" },
            {value:99, name:"R*" },
            {value:1, name:"R1" },
            {value:2, name:"R2" },
            {value:3, name:"R3" }
            ]; }
          },
          endcapChambers: {
            type: Array,
            value: function() { return [
              // {value:99, name:"Chamber" },
              {value:99, name:"C*" },
              {value:1, name:"C1" },
              {value:2, name:"C2" },
              {value:3, name:"C3" },
              {value:4, name:"C4" },
              {value:5, name:"C5" },
              {value:6, name:"C6" },
              {value:7, name:"C7" },
              {value:8, name:"C8" },
              {value:9, name:"C9" },
              {value:10, name:"C10" },
              {value:11, name:"C11" },
              {value:12, name:"C12" },
              {value:13, name:"C13" },
              {value:14, name:"C14" },
              {value:15, name:"C15" },
              {value:16, name:"C16" },
              {value:17, name:"C17" },
              {value:18, name:"C18" },
              {value:19, name:"C19" },
              {value:20, name:"C20" },
              {value:21, name:"C21" },
              {value:22, name:"C22" },
              {value:23, name:"C23" },
              {value:24, name:"C24" },
              {value:25, name:"C25" },
              {value:26, name:"C26" },
              {value:27, name:"C27" },
              {value:28, name:"C28" },
              {value:29, name:"C29" },
              {value:30, name:"C30" },
              {value:31, name:"C31" },
              {value:32, name:"C32" },
              {value:33, name:"C33" },
              {value:34, name:"C34" },
              {value:35, name:"C35" },
              {value:36, name:"C36" }
              ]; }
            },
            endcapActions: {
              type: Array,
              value: function() { return [
                {value:"1", name:"Select" },
                {value:"2", name:"Mask" },
                {value:"3", name:"Deselect" },
                {value:"4", name:"Unmask" }
                ]; }
              },
      // by name 
      bynameActions: {
        type: Array,
        value: function() { return [
          {value:"1", name:"Select" },
          {value:"2", name:"Mask" },
          {value:"3", name:"Deselect" },
          {value:"4", name:"Unmask" }
          ]; }
        },
      // FEB Config
      febConfigVThs: {
        type: Array,
        value: function() { 
          var obj = [];
          for (i = 64; i <= 164; i +=2) {
              var voltage = (((i).toFixed(2)*2.44141).toFixed(1)).toString();
              if (i == 86) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febConfigVMons: {
        type: Array,
        value: function() { 
          var obj = [];
          for (i = 1234; i <= 1634; i +=20) {
              var voltage = (((i).toFixed(2)*2.44141).toFixed(1)).toString();
              if (i == 1434) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febConfigAutoCorrectVThs: {
        type: Array,
        value: function() { return [
          {value:0, name:"No" },
          {value:1, name:"Yes *" }
          ]; },
        },
      febConfigIncludeDisableds: {
        type: Array,
        value: function() { return [
          {value:0, name:"No" },
          {value:1, name:"Yes *" }
          ]; },
          },
      febConfigCountDurations: {
        type: Array,
        value: function() { return [
          // {value:0, name:"Count Duration" },
          {value:0, name:"Disabled *" },
          {value:1, name:"1 s" },
          {value:2, name:"2 s" },
          {value:3, name:"3 s" },
          {value:4, name:"4 s" },
          {value:5, name:"5 s" },
          {value:6, name:"6 s" },
          {value:7, name:"7 s" },
          {value:8, name:"8 s" },
          {value:9, name:"9 s" },
          {value:10, name:"10 s" }
          ]; },
        },
      febConfigStoreOutputs: {
        type: Array,
        value: function() { return [
          // {value:0, name:"Store Output" },
          {value:0, name:"No *" },
          {value:1, name:"Yes" }
          ]; },
        },
        // FEB Connect
      febConnectVThLows: {
        type: Array,
        value: function() { 
          var obj = [];
          // this.$.ajaxGetFebUnit.generateRequest();
          for (i = 16; i <= 96; i +=4) {
            // console.log(this.title);
              // var voltage = (i*parseFloat(this.dataGetFebUnit)).toString()+ " mV";
              var voltage = (((i).toFixed(2)*2.44141).toFixed(1)).toString();
              if (i == 16) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febConnectVThHighs: {
        type: Array,
        value: function() { 
          var obj = [];
          // this.$.ajaxGetFebUnit.generateRequest();
          for (i = 88; i <= 168; i +=4) {
            // console.log(this.title);
              // var voltage = (i*parseFloat(this.dataGetFebUnit)).toString()+ " mV";
              var voltage = (((i).toFixed(2)*2.44141).toFixed(1)).toString();
              if (i == 164) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febConnectVTMons: {
        type: Array,
        value: function() { 
          var obj = [];
          // this.$.ajaxGetFebUnit.generateRequest();
          for (i = 1234; i <= 1634; i +=20) {
            // console.log(this.title);
              // var voltage = (i*parseFloat(this.dataGetFebUnit)).toString()+ " mV";
              var voltage = (((i).toFixed(2)*2.44141).toFixed(1)).toString();
              if (i == 1434) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febConnectAutoCorrectVths: {
        type: Array,
        value: function() { return [
          // {value:1, name:"Auto Correct VTh" },
          {value:0, name:"No" },
          {value:1, name:"Yes *" }
          ]; },
          },
      febConnectIncludeDisableds: {
        type: Array,
        value: function() { return [
          // {value:1, name:"Include Disabled" },
          {value:0, name:"No" },
          {value:1, name:"Yes *" }
          ]; },
          },
      febConnectCountDurations: {
        type: Array,
        value: function() { return [
          // {value:0, name:"Count Duration" },
          {value:0, name:"Disabled *" },
          {value:1, name:"1 s" },
          {value:2, name:"2 s" },
          {value:3, name:"3 s" },
          {value:4, name:"4 s" },
          {value:5, name:"5 s" },
          {value:6, name:"6 s" },
          {value:7, name:"7 s" },
          {value:8, name:"8 s" },
          {value:9, name:"9 s" },
          {value:10, name:"10 s" }
          ]; },
        },
      febConnectStoreOutputs: {
        type: Array,
        value: function() { return [
          // {value:0, name:"Store Output" },
          {value:0, name:"No *" },
          {value:1, name:"Yes" }
          ]; },
        },
      febConnectUsePulsers: {
        type: Array,
        value: function() { return [
          // {value:0, name:"Use Pulser" },
          {value:0, name:"No *" },
          {value:1, name:"Yes" }
          ]; },
        },
        // FEB Threshold  
      febThresholdVThMins: {
        type: Array,
        value: function() { 
          var obj = [];
          // this.$.ajaxGetFebUnit.generateRequest();
          for (i = 14; i <= 98; i +=4) {
            // console.log(this.title);
              // var voltage = (i*parseFloat(this.dataGetFebUnit)).toString()+ " mV";
              var voltage = (((i).toFixed(2)*2.44141).toFixed(1)).toString();
              if (i == 34) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febThresholdStepSizes: {
        type: Array,
        value: function() { 
          var obj = [];
          // this.$.ajaxGetFebUnit.generateRequest();
          for (i = 2; i <= 16; i +=2) {
            // console.log(this.title);
              // var voltage = (i*parseFloat(this.dataGetFebUnit)).toString()+ " mV";
              var voltage = (((i).toFixed(2)*2.44141).toFixed(1)).toString();
              if (i == 4) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febThresholdStepss: {
        type: Array,
        value: function() { 
          var obj = [];
          // this.$.ajaxGetFebUnit.generateRequest();
          for (i = 1; i <= 40; i +=1) {
            // console.log(this.title);
              // var voltage = (i*parseFloat(this.dataGetFebUnit)).toString()+ " mV";
              var voltage = (i).toString();
              if (i == 29) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febThresholdVTMons: {
        type: Array,
        value: function() { 
          var obj = [];
          // this.$.ajaxGetFebUnit.generateRequest();
          for (i = 1234; i <= 1634; i +=20) {
            // console.log(this.title);
              // var voltage = (i*parseFloat(this.dataGetFebUnit)).toString()+ " mV";
              var voltage = (((i).toFixed(2)*2.44141).toFixed(1)).toString();
              if (i == 1434) {
                voltage += "*"
              }
              obj.push( {value:i, name:voltage} );
          }
          return obj; 
          },
        },
      febThresholdAutoCorrectVths: {
        type: Array,
        value: function() { return [
          // {value:1, name:"Auto Correct VTh" },
          {value:0, name:"No" },
          {value:1, name:"Yes *" }
          ]; },
          },
      febThresholdIncludeDisableds: {
        type: Array,
        value: function() { return [
          // {value:1, name:"Include Disabled" },
          {value:0, name:"No" },
          {value:1, name:"Yes *" }
          ]; },
          },
      febThresholdCountDurations: {
        type: Array,
        value: function() { return [
          // {value:0, name:"Count Duration" },
          {value:0, name:"Disabled *" },
          {value:1, name:"1 s" },
          {value:2, name:"2 s" },
          {value:3, name:"3 s" },
          {value:4, name:"4 s" },
          {value:5, name:"5 s" },
          {value:6, name:"6 s" },
          {value:7, name:"7 s" },
          {value:8, name:"8 s" },
          {value:9, name:"9 s" },
          {value:10, name:"10 s" }
          ]; },
        },
      febThresholdStoreOutputs: {
        type: Array,
        value: function() { return [
          // {value:0, name:"Store Output" },
          {value:0, name:"No *" },
          {value:1, name:"Yes" }
          ]; },
        },
      febThresholdUsePulsers: {
        type: Array,
        value: function() { return [
          // {value:0, name:"Use Pulser" },
          {value:0, name:"No *" },
          {value:1, name:"Yes" }
          ]; },
        },
      },
      _computePrettyAge: function(numero) {
        if (!numero) return 'Big secret';
        return numero < 18 ? 'Child' : 'Adult';
      },
      doSelectBarrel: function(event) {
        // console.log(this.$.barrelWheel.selectedItem.attributes["value"].value);
        this.$.ajaxSelectBarrel.set("isBarrel", "1");
        this.$.ajaxSelectBarrel.set("wheel", this.$.barrelWheel.selectedItem.attributes["value"].value);
        this.$.ajaxSelectBarrel.set("station", this.$.barrelStation.selectedItem.attributes["value"].value);
        this.$.ajaxSelectBarrel.set("layer", this.$.barrelLayer.selectedItem.attributes["value"].value);
        this.$.ajaxSelectBarrel.set("sector", this.$.barrelSector.selectedItem.attributes["value"].value);
        this.$.ajaxSelectBarrel.set("subsector", this.$.barrelSubsector.selectedItem.attributes["value"].value);
        // this.$.ajaxSelectBarrel.set("disk", this.$.endcapDisk.selectedItem.attributes["value"].value);
        // this.$.ajaxSelectBarrel.set("ring", this.$.endcapRing.selectedItem.attributes["value"].value);
        // this.$.ajaxSelectBarrel.set("chamber", this.$.endcapChamber.selectedItem.attributes["value"].value);
        this.$.ajaxSelectBarrel.set("action", this.$.barrelAction.selectedItem.attributes["value"].value);

        this.$.ajaxSelectBarrel.generateRequest();
        this.$.ajaxReadRollSelection.generateRequest();
      },
      doSelectEndcap: function(event) {
        // console.log(this.$.endcapAction.selectedItem.attributes["value"]);
        this.$.ajaxSelectEndcap.set("isBarrel", "0");
        this.$.ajaxSelectEndcap.set("disk", this.$.endcapDisk.selectedItem.attributes["value"].value);
        this.$.ajaxSelectEndcap.set("ring", this.$.endcapRing.selectedItem.attributes["value"].value);
        this.$.ajaxSelectEndcap.set("chamber", this.$.endcapChamber.selectedItem.attributes["value"].value);
        this.$.ajaxSelectEndcap.set("action", this.$.endcapAction.selectedItem.attributes["value"].value);

        this.$.ajaxSelectEndcap.generateRequest();
        this.$.ajaxReadRollSelection.generateRequest();
      },     
      doSelectByName: function(event) {
        // console.log(this.$.bynameName.value);
        this.$.ajaxSelectByName.set("name", this.$.bynameName.value);
        this.$.ajaxSelectByName.set("action", this.$.bynameAction.selectedItem.attributes["value"].value);

        this.$.ajaxSelectByName.generateRequest();
        this.$.ajaxReadRollSelection.generateRequest();
      },
      doStartFebConfiguration: function(event) {
        // console.log(this.$.endcapAction.selectedItem.attributes["value"]);
        this.$.ajaxStartFebConfiguration.set("vth", this.$.febConfigVTh.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConfiguration.set("vmon", this.$.febConfigVMon.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConfiguration.set("duration", this.$.febConfigCountDuration.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConfiguration.set("autocorrect", this.$.febConfigAutoCorrectVTh.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConfiguration.set("includedisabled", this.$.febConfigIncludeDisabled.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConfiguration.set("storeoutput", this.$.febConfigStoreOutput.selectedItem.attributes["value"].value);

        this.$.ajaxStartFebConfiguration.generateRequest();
        this.$.ajaxReadRollSelection.generateRequest();
      },   
      doStartFebConnectivityTest: function(event) {
        // console.log(this.$.endcapAction.selectedItem.attributes["value"]);
        this.$.ajaxStartFebConnectivityTest.set("vthlow", this.$.febConnectVThLow.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConnectivityTest.set("vthhigh", this.$.febConnectVThHigh.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConnectivityTest.set("vmon", this.$.febConnectVTMon.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConnectivityTest.set("duration", this.$.febConnectCountDuration.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConnectivityTest.set("usepulser", this.$.febConnectUsePulser.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConnectivityTest.set("autocorrect", this.$.febConnectAutoCorrectVth.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebConnectivityTest.set("includedisabled", this.$.febConnectIncludeDisabled.selectedItem.attributes["value"].value);

        this.$.ajaxStartFebConnectivityTest.generateRequest();
        this.$.ajaxReadRollSelection.generateRequest();
      },  
      doStartFebThresholdScan: function(event) {
        // console.log(this.$.endcapAction.selectedItem.attributes["value"]);
        this.$.ajaxStartFebThresholdScan.set("vthmin", this.$.febThresholdVThMin.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebThresholdScan.set("vthstepsize", this.$.febThresholdStepSize.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebThresholdScan.set("vthnsteps", this.$.febThresholdSteps.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebThresholdScan.set("duration", this.$.febThresholdCountDuration.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebThresholdScan.set("usepulser", this.$.febThresholdUsePulser.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebThresholdScan.set("autocorrect", this.$.febThresholdAutoCorrectVth.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebThresholdScan.set("includedisabled", this.$.febThresholdIncludeDisabled.selectedItem.attributes["value"].value);
        this.$.ajaxStartFebThresholdScan.set("vmon", this.$.febConnectIncludeDisabled.selectedItem.attributes["value"].value);

        this.$.ajaxStartFebThresholdScan.generateRequest();
        this.$.ajaxReadRollSelection.generateRequest();
      },
      doClearSelection: function(event) {
        this.$.ajaxClearSelection.generateRequest();
        this.$.ajaxReadRollSelection.generateRequest();
      },
      doMonitoringPause: function() {
        this.$.ajaxMonitoringPause.generateRequest();
      },
      doMonitoringResume: function() {
        this.$.ajaxMonitoringResume.generateRequest();
      },
      doMonitoringTerminate: function() {
        this.$.ajaxMonitoringTerminate.generateRequest();
      },
      doMonitoringRefresh: function() {
        monitoringToast.close();
        this.$.ajaxMonitoringRefresh.generateRequest();
        var loggerPanel = document.querySelector('log-panel');
        loggerPanel.getLog();
        monitoringToast.open();
      }
    
  });

</script>
</dom-module>