/* General Structure */
body,td,th,input,select { /* redundant rules for bad browsers  */
	font-family: verdana, arial, sans-serif;
	vertical-align: middle;
}

body {
	font-size: 70%;
	margin: 0 0 0 0;
}

code {
	font-size: 130%;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 0 0;
	padding: 1em 0 0.2em 0;
	font-family: arial, verdana, sans-serif;
}

h1,h2,h3 {
	border-bottom: 1px solid #ccc;
}

li h1,li h2,li h3,li h4,li h5,li h6 {
	border: none;
}

h1 {
	font-size: 160%;
	font-weight: normal;
}

h2 {
	font-size: 150%;
	font-weight: normal;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 90%;
}

h6 {
	font-size: 90%;
	border: 0;
}

/* Navigation */
:link {
	color: #0C4D7C;
}

:visited {
	color: #0C4D7C;
}

/*:link :hover,:visited :hover {
	color: #333;
}

:link :active,:link :active {
	color: #000;
}*/ /* ************* */
#header {
	background: #2D91DB url(/rpctlinks/images/topnav.gif) no-repeat top
		right;
	padding: 10px 0px 5px 5px;
	border-bottom: 1px solid #888888;
}

ul.navList {
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
}

.navList li {
	display: inline;
	list-style-type: none;
	margin-left: 2px;
}

.navList a {
	padding: 3px 10px;
}

.navList a:link,.navList a:visited {
	background-color: #CCCCCC;
	color: #333333;
	border: 1px solid #666666;
	text-decoration: none;
}

.navList a:hover {
	background-color: #DDDDDD;
	color: #333333;
	border: 1px solid #666666;
	text-decoration: none;
}

#leftmenu {
	background-color: #CFDFFA;
	padding: 20px 0px 100px 15px;
	width: 120px;
	float: left;
	border-bottom: 1px solid #B8D0F8;
}

.leftNavContainer ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

.leftNavContainer a {
	display: block;
	padding: 3px;
	width: 100px;
	background-color: #FDE2A4;
	border: 1px solid #ADC6ED;
}

.leftNavContainer a:link,.leftNavContainer a:visited {
	color: #333333;
	text-decoration: none;
}

.leftNavContainer a:hover {
	background-color: #FDEAB9;
	color: #333333;
}

#body {
	margin-left: 135px;
	border-left: 1px solid #888888;
	padding-left: 8px;
}

.prettyTable table { //
	width: 80%;
	margin: 20px 0 20px 0;
	border-top: 1px solid #FB8C04;
	border-right: 1px none #000066;
	border-bottom: 1px solid #FB8C04;
	border-left: 1px none #000066;
}

.prettyTable th,.prettyTable td {
	padding: 2px 4px;
	vertical-align: middle;
}

.prettyTable thead tr {
	background-color: #FFF3CC;
	color: #5E5E5E;
}

.prettyTable tr.odd,.prettyTable tr.even {
	color: #0C4D7C;
}

.prettyTable tr.odd {
	background-color: #FFFFFF;
}

.prettyTable tr.even {
	background-color: #E6EEFD
}

.prettyTable td.leftAlign {
	text-align: left;
}

.prettyTable td.rightAlign {
	text-align: right;
}

#body input[type="submit"] {
	background-color: #008FBF;
	color: #FFFFFF;
	border: 1px solid #666666;
}

#body input[type="submit"]:hover {
	background-color: #00ACE6;
}

.leftAlign {
	text-align: left;
}

input.monospaceRightAlign {
	text-align: right;
	font-family: monospace;
	font-size: 130%;
}

/*
   ------------------------------------------------------------
   Tree component
   ------------------------------------------------------------
*/
/*
.nodeFolder {
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none
}

.document {
	color: blue;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none
}

.documentSelected {
	color: blue;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold
}

.childCount {
	color: blue;
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none
}*/