/* mozilla.org Cavendish Content Styles
 * Design by SilverOrange
 * Markup Reference classes organized by fantasai
 */

/* Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 *
 */

/* TOC:
   Body
   Random HTML Styles
     Forms
   General Structure
   Navigation
   Quotations
   Comments and Other Asides
   Emphasis
   Computers - General
   Code
   Examples and Figures
   Q and A (FAQ)
   Tables
   Meta
*/

/* Body */

	body {
		background: #fff;
		color: #000;
	}

	#mainContent, #side {
		background: #fff;
		line-height: 1.3; /* value other than 'normal' needed for WinIE */
		color: #000;
	}
	.deepLevel #mainContent {
		line-height: 1.4;
	}

	#nav {
		line-height: 1em;
	}

/* Random HTML Styles */

	hr {
		height: 1px;
		background-color: #000;
		color: #000;
		margin: 2em 0;
	}

	input[type="submit"] {
		font-weight: bold;
	}

/* General Structure */
    body, td, th, input { /* redundant rules for bad browsers  */
            font-family: verdana, sans-serif;
            font-size: x-small;
            voice-family: "\"}\"";
            voice-family: inherit;
            font-size: small;
    }

	h1, h2, h3, h4, h5, h6 {
		margin: 1em 0 0.2em 0;
		border-bottom: 1px solid #ccc;
		font-family: arial, verdana, sans-serif;
	}
	li h1, li h2, li h3, li h4, li h5, li h6 {
		border: none;
	}

	#header h1 { border: 0; }

	h1 { font-size: 160%; font-weight: normal; }
	h2 { font-size: 150%; font-weight: normal; }
	h3 { font-size: 120%; }
	h4 { font-size: 100%; }
	h5 { font-size: 90%; }
	h6 { font-size: 90%; border: 0; }
	
/* Navigation */

        :link { color: #039; }
        :visited { color: #636; }
        :link:hover, :visited:hover { color: #333; }
        :link:active, :link:active { color: #000; }

/* Quotations */


/* Comments and other Asides */

	.note {
		color: #666;
		font-style: normal;
	}
	
	.remark {
		color: #666;
	}
	
	.sidenote {
		border: #666;
	}

	.key-point:before {
		line-height: 0.1;
		font-size: 1px;
		background: transparent url("../../images/key-point_tr.gif") no-repeat top right;
		margin: -15px -15px 0 -15px;
		height: 15px;
		display: block;
		border: none;
		content: url("../../images/key-point_tl.gif");
	}
	.key-point {
		background: #e4ecec url("../../images/key-point_back.gif") right repeat-y;
		padding: 15px;
		margin-bottom: 1em;
	}
	.key-point:after {
		display: block;
		clear: both;
		padding-top: 15px;
		line-height: 0.1;
		font-size: 1px;
		content:  url("../../images/key-point_bl.gif");
		margin: -15px;
		height: 8px;
		background: transparent url("../../images/key-point_br.gif") scroll no-repeat bottom right ;
	}
	
	.key-point h2, .key-point h3, .key-point h4, .key-point h5 {
		border: none;
		margin-top: 0;
	}
	
	.news dt {
		font-weight: normal;
		color: #666;
	}
	.news dt a {
		font-weight: bold;
	}
	
	ul.compact {
		margin-left: 0;
		padding-left: 20px;
	}
			
/* Emphasis */

/* Computers - General */

	kbd {
		margin: 0.1em;
		padding: 0.1em;
		border: 1px #ccc;
	}

	kbd.command,
	code.command {
		color: #6B5839;
	}

/* Code */

	pre.code {
		background: #EEECF6;
	}
	
	code > em,
	code > strong,
	pre.code > em,
	pre.code > strong {
		font-style: normal;
	}

/* Examples and Figures */

	div.example {
		border-color: #554FA0;
	}
	div.example::before {
		color: #666;
	}

/* Tables */

	table.data thead th {
		background: #e4ecec;
		empty-cells: hide;
	}

	table.data th,
	table.data td {
		border: 1px solid #ccc;
	}
	
	tr.odd {
		background: #F5F5F5;
	}

/* Meta */

	address {
		color: #666;
	}

/* Product Specific CSS */
	
	.productlist h3 {
		border: none;
	}

	.key-point h3 {
		margin: 0;
	}
	
	#product-desc h2 {
		text-indent: -700em;
		height: 25px;
		line-height: 2px;
		font-size: 2px;
	}
	
	#product-desc p {
		padding-left: 170px;
	}
	
	#product-desc ul {
		padding-left: 190px;
		margin-bottom: 0;		
	}
	
	#product-side {
		margin-left: 65%;
	}
	
	#product-side ul {
		margin-left: 0;
		padding-bottom: 0;
		padding-left: 20px;
	}
	
	#product-side li {
		padding-bottom: 0.2em;
	}
	
	#product-desc {
		padding: 40px 0 25px 0;
		color: #4C5C5C;
		width: 60%;
		float: left;
		line-height: 140%;
	}
	
	.product-firefox {
		background: url("../../images/product-firefox-screen.png") no-repeat;
	}
	.product-thunderbird {
		background: url("../../images/product-thunderbird-screen.png") no-repeat;
	}
	.product-camino {
		background: url("../../images/product-camino-screen.png") no-repeat;
	}
	.product-mozilla {
		background: url("../../images/product-mozilla-screen.png") no-repeat;
	}
	
	#product-side .download h3 {
		color: #1D9101;
		font-weight: bold;
		margin: 0;
		font-size: 140%;
	}

	.download h3 :link,
	.download h3 :visited,
	.download h3 :link:active, .download h3 :visited:active {
		color: #1D9101;
	}
	
	.download h3 :link:hover, .download h3 :visited:hover {
		color: #156B01;
	}
	
	.download li {
		padding: 0;
		margin: 0;
	}
	.download ul {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.other a:link, .other a:visited { color: #666; }
	.download .other a:hover { color: #000; }
	.download:before {
		line-height: 0.1;
		font-size: 1px;
		margin: -15px -15px 0 -15px;
		height: 15px;
		display: block;
		border: none;
		content: url("../../images/download_tl.gif");
	}
	.download {
		background: #C4EFA1 url("../../images/download_back.gif") top right no-repeat;
		padding: 15px 45px 15px 15px;
		margin-bottom: 0.5em;
	}
	.download:after {
		display: block;
		padding-top: 15px;
		line-height: 0.1;
		font-size: 1px;
		content:  url("../../images/download_bl.gif");
		margin: -10px -45px -15px -15px;
		height: 8px;
		background: transparent url("../../images/download_br.gif") scroll no-repeat bottom right ;
	}
	.configParent {
		display: block;
		font-size: 85%;
	}
	
.shop:before, .shopmoz:before {
		line-height: 0.1;
		font-size: 1px;
		margin: -15px -15px 0 -15px;
		height: 15px;
		display: block;
		border: none;
		content: url("../../images/shop_tl.gif");
	}
	.shop {
		background: #C0DCDC url("../../images/shop_back.gif") top right no-repeat;
		padding: 15px 70px 15px 15px;
	}
	.shopmoz {
		background: #C0DCDC url("../../images/shopmoz_back.gif") top right no-repeat;
		padding: 15px 70px 15px 15px;
	}
	.shop:after, .shopmoz:after {
		display: block;
		padding-top: 15px;
		line-height: 0.1;
		font-size: 1px;
		content: url("../../images/shop_bl.gif");
		margin: -10px -70px -15px -15px;
		height: 8px;
		background: transparent url("../../images/shop_br.gif") scroll no-repeat bottom right ;
	}

/* Firefox Central styles  */
        #ffcentral-desc {
                background: url("../../products/firefox/t-welcomefirefox.gif") no-repeat;
                width: 60%;
                float: left;
                line-height: 140%;
        }
        #ffcentral-desc div {
                padding: 40px 0 0 100px;
        }
        #ffcentral h3, #ffcentral h2, #ffcentral p, #ffcentral ul {
                margin-top: 0;
                color: #4C5C5C;
        }

