<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/extern/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/extern/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/extern/bower_components/paper-button/paper-button.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/extern/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/extern/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/ts/ajaxell/html/elements/ag-toaster/throws-toast.html">




<dom-module id="xhannel-selection-panel">
  <template>
    <!-- <style include="reset-css"></style> -->
    <style include="iron-flex-layout-attributes"></style>
    <style>
    :host {
      display: block;
      }[logPanel]{padding:5px; height:500px; display: flex}
      paper-card {
        width: 95%;

        margin:1em;

      }

    </style>

    <style is="custom-style">
    paper-button.green {
      background-color: var(--paper-green-700);
      color: white;
    }
  </style>




<h1><span>[[title]]</span></h1>


<paper-card>
  <div class="card-content">
    <p><b> <iron-icon icon="warning"></iron-icon>ATENTION: Please leave the use of this panel to experts!</b></p>
    <paper-checkbox checked={{isExpert}}>Tick this if you're an expert.</paper-checkbox>
  </div>
</paper-card>



<ts-ajax id="getXhannelsList" data="{{XhannelsList}}" callback="getXhannelsList" handle-as="json" auto></ts-ajax>

<iron-collapse id="collapse" opened="{{isExpert}}">


  <!--Selection  -->
  <paper-card heading="Selection">
    <div class="card-content">
      <template is="dom-repeat" items="{{XhannelsList}}" as="Xhannels">
        <template is="dom-if" if="{{isEnabled(Xhannels.isEnabled)}}">
        <p> <paper-checkbox class="xchannel_cb" xhannelname$="{{Xhannels.name}}"> <iron-icon icon="add-circle" style="fill:green"></iron-icon>{{Xhannels.name}}</paper-checkbox> </p>
        <ts-ajax
          class="xchannel_ajaxDisable"
          id="ajaxDisableSelection"
          data="{{dataDisableSelection}}"
          callback="onDisableSelection"
          parameters='["xhannelname"]'
          xhannelname$="{{Xhannels.name}}"
        ></ts-ajax>
        <ts-ajax
          class="xchannel_ajaxEnable"
          id="ajaxEnableSelection"
          data="{{dataEnableSelection}}"
          callback="onEnableSelection"
          parameters='["xhannelname"]'
          xhannelname$="{{Xhannels.name}}"
        ></ts-ajax>
        </template>


        <template is="dom-if" if="{{isNotEnabled(Xhannels.isEnabled)}}">
        <p> <paper-checkbox class="xchannel_cb" xhannelname$="{{Xhannels.name}}"> <iron-icon icon="cancel" style="fill:red"></iron-icon><b>{{Xhannels.name}}</b></paper-checkbox> </p>
        <ts-ajax
          class="xchannel_ajaxDisable"
          id="ajaxDisableSelection"
          data="{{dataDisableSelection}}"
          callback="onDisableSelection"
          parameters='["xhannelname"]'
          xhannelname$="{{Xhannels.name}}"
        ></ts-ajax>
        <ts-ajax
          class="xchannel_ajaxEnable"
          id="ajaxEnableSelection"
          data="{{dataEnableSelection}}"
          callback="onEnableSelection"
          parameters='["xhannelname"]'
          xhannelname$="{{Xhannels.name}}"
        ></ts-ajax>
        </template>
        </template>


      <!-- </template> -->
    </div>  
    <div class="card-actions">
      <paper-button raised primary class="custom green" on-click="doSelectAll">Select All</paper-button>
      <paper-button raised primary class="custom green" on-click="doSelectNone">Select None</paper-button>

      <paper-button raised primary class="custom green" on-click="doDisableSelection">Disable Selection</paper-button>
      <paper-button raised primary class="custom green" on-click="doEnableSelection">Enable Selection</paper-button>      
    </div>
  </paper-card> 


</iron-collapse>






<!--logPanel  -->
<div logPanel >
  <paper-card style="width:100%; padding:5px" >
    <content select="log-panel"> </content>
  </paper-card>
</div>


</template>
<script>
  Polymer({
    is: 'xhannel-selection-panel',
    behaviors: [throwsToast],

    properties: {
      title: {
        type: String,
        value: "No title set"
      }
    },
    showWarning: function showWarning() {
        this.throwToast({
            'type': 'warning',
            'message': 'Please, UPDATE the Logger.',
            'callback': function callback(response) {
                // console.log("callback successfull: ", response);
            }
        });
    },

    doDisableSelection: function() {
      var ajaxes = document.querySelectorAll('.xchannel_ajaxDisable');
      for (var i = 0, len = ajaxes.length; i < len; i++) {
         // console.log( document.querySelectorAll('.xchannel_cb[xhannelname='+ ajaxes[i].attributes["xhannelname"].value +']')[0].checked  );
        ajaxes[i].set("xhannelname",ajaxes[i].attributes["xhannelname"].value)
        if (document.querySelectorAll('.xchannel_cb[xhannelname=\''+ ajaxes[i].attributes["xhannelname"].value +'\']')[0].checked ) {
          ajaxes[i].generateRequest();
          // console.log( document.querySelectorAll('.xchannel_cb[xhannelname="Felipe1"]'));
        }
      }
      // this.$.ajaxDisableSelection.generateRequest();
      // sleep(2000);
      this.$.getXhannelsList.generateRequest();
      // this.showWarning();
    },   

    doEnableSelection: function() {
      var ajaxes = document.querySelectorAll('.xchannel_ajaxEnable');
      for (var i = 0, len = ajaxes.length; i < len; i++) {
        // console.log(ajaxes[i].attributes["xhannelname"].value);
        // console.log( document.querySelectorAll('.xchannel_cb[xhannelname="Felipe1"]'));
        ajaxes[i].set("xhannelname",ajaxes[i].attributes["xhannelname"].value)
        if (document.querySelectorAll('.xchannel_cb[xhannelname=\''+ ajaxes[i].attributes["xhannelname"].value +'\']')[0].checked ) {
          ajaxes[i].generateRequest();
          // console.log( document.querySelectorAll('.xchannel_cb[xhannelname="Felipe1"]'));
        }
      }
      // this.$.ajaxDisableSelection.generateRequest();
      // sleep(2000);
      this.$.getXhannelsList.generateRequest();
      // this.showWarning();
    }, 
    isEnabled: function(boolVar) {
        return boolVar == true;
    },
    isNotEnabled: function(boolVar) {
        return boolVar == false;
    },
    doSelectAll: function() {
      var checkboxes = document.querySelectorAll('.xchannel_cb');
      for (var i = 0, len = checkboxes.length; i < len; i++) {
        // console.log(checkboxes[i].checked);
        checkboxes[i].checked=true;
      }
      // this.$.ajaxResetAll.generateRequest();
      // this.showWarning();
    },
    doSelectNone: function() {
      var checkboxes = document.querySelectorAll('.xchannel_cb');
      for (var i = 0, len = checkboxes.length; i < len; i++) {
        // console.log(checkboxes[i].checked);
        checkboxes[i].checked=false;
      }
      // this.$.ajaxResetAll.generateRequest();
      // this.showWarning();
    }

    
  });

</script>
</dom-module>