<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/swatchcell/framework/html/elements/swatch-styles/swatch-styles.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/extern/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/extern/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/extern/bower_components/paper-button/paper-button.html">
<!-- <link rel="import" href="/swatchcell/framework/html/elements/log-table/log-table.html"> -->
<link rel="import" href="log-table/log-table.html">




<dom-module id="log-panel">
  <template>
    <!-- this makes your element follow the general theme (things like fonts) -->
    <!-- <style include="reset-css"></style> -->
    <!-- this will allow you to use flexbox easily -->
    <!-- surf to /ts/common-elements/iron-flex-layout-attributes/index.html -->
    <style include="iron-flex-layout-attributes"></style>
   
    <style include="swatch-styles"></style>
    <style>
:host{display:block;height:100%}
</style>
   
    <ts-ajax
        id="loggersLoader"
        callback="LogPanel::getLoggers"
        data="{{loggers}}"
        auto
      ></ts-ajax>
     
    <ts-ajax
        id="logLoader"
        data="{{log}}"
        callback="LogPanel::getLog"
        parameters='["logger", "command"]'
      ></ts-ajax>
    <div vertical layout style="height: 100%">
  <!-- <h3>Log Messages</h3>     -->
  <h3>{{paneltitle}}</h3>    
  <div horizontal layout align-center>
        <paper-dropdown-menu label="Logger" style="width: 70%">
          <paper-listbox class="dropdown-content" selected="{{selectedLogger}}" on-iron-select="getLog" id="loggerSelector">
            <template is="dom-repeat" items="{{loggers}}" as="logger">
              <paper-item data-tab$="{{logger}}">{{logger}}</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>
       
        <div style="padding-top: 15px;"><paper-button on-click="getLog" raised style="margin: 10px">Update</paper-button></div>
        <div style="padding-top: 15px;"><paper-button on-click="clearLog" raised style="margin: 10px">Clear</paper-button></div>
      </div>
   
      <div horizontal layout flex>
        <log-table log="[[log.messages]]" style="height: 100%" flex></log-table>
      </div>
   
    </div>
   
  </template>
  <script>
Polymer({is:"log-panel",properties:{paneltitle:{type:String,value:"Log Messages"},selectedLogger:{type:Number,value:0},loggers:{type:Array,value:0},log:{type:Object,value:function(){return{}}}},getLog:function(event){var logLoader=this.$.logLoader,logger=this.$.loggerSelector.items[this.selectedLogger].attributes["data-tab"].value;logLoader.set("logger",logger),logLoader.set("command","get"),logLoader.generateRequest()},clearLog:function(){var logLoader=this.$.logLoader,logger=this.$.loggerSelector.items[this.selectedLogger].attributes["data-tab"].value;logLoader.set("logger",logger),logLoader.set("command","clear"),logLoader.generateRequest()}});
</script>
</dom-module>
