<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/ts/common-elements/ts-ajax/ts-ajax.html">
<link rel="import" href="/ts/common-elements/iron-flex-layout-attributes/iron-flex-layout-attributes.html">
<link rel="import" href="/extern/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/extern/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/extern/bower_components/paper-button/paper-button.html">
<link rel="import" href="/extern/bower_components/paper-material/paper-material.html">
<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">
<link rel="import" href="/extern/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/extern/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/extern/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/extern/bower_components/paper-item/paper-item.html">
<link rel="import" href="/extern/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/ts/ajaxell/html/elements/ag-toaster/throws-toast.html">




<dom-module id="lb-panel-supervisor">
  <template>
    <!-- <style include="reset-css"></style> -->
    <style include="iron-flex-layout-attributes"></style>
    <style>
    :host {
      display: block;
      }[logPanel]{padding:5px; height:500px; display: flex}
      paper-card {
        width: 95%;

        margin:1em;

      }

    </style>

    <style is="custom-style">
    paper-button.green {
      background-color: var(--paper-green-700);
      color: white;
    }
  </style>


  <ts-ajax
    id="ajaxResetNotReady"
    data="{{dataResetNotReady}}"
    callback="onResetNotReady"
  ></ts-ajax>


  <ts-ajax
    id="ajaxResetAll"
    data="{{dataResetAll}}"
    callback="onResetAll"
  ></ts-ajax>


<h1><span>[[title]]</span></h1>


<paper-card>
  <div class="card-content">
    <p><b> <iron-icon icon="warning"></iron-icon>ATENTION: Please leave the use of this panel to experts!</b></p>
    <paper-checkbox checked={{isExpert}}>Tick this if you're an expert.</paper-checkbox>
  </div>
</paper-card>




<!-- <ts-ajax id="getFebConfigKeys" data="{{FebConfigKeys}}" callback="getFebConfigKeys" handle-as="json" auto></ts-ajax> -->
<iron-collapse id="collapse" opened="{{isExpert}}">




  <!--LB TTCrx Control  -->
  <paper-card heading="LB TTCrx Control">
    <div class="card-content">
      <paper-button raised primary class="custom green" on-click="doResetNotReady">Reset not ready CB TTCrx's</paper-button>
      <paper-button raised primary class="custom green" on-click="doResetAll">Reset all CB TTCrx's</paper-button>
    </div>
  </paper-card> 

</iron-collapse>






<!--logPanel  -->
<div logPanel >
  <paper-card style="width:100%; padding:5px" >
    <content select="log-panel"> </content>
  </paper-card>
</div>


</template>
<script>

  Polymer({
    is: 'lb-panel-supervisor',
    behaviors: [throwsToast],

    properties: {
      title: {
        type: String,
        value: "No title set"
      }
    },
    showWarning: function showWarning() {
        this.throwToast({
            'type': 'warning',
            'message': 'Please, UPDATE the Logger.',
            'callback': function callback(response) {
                // console.log("callback successfull: ", response);
            }
        });
    },
   doResetNotReady: function() {
    this.$.ajaxResetNotReady.generateRequest();
    this.showWarning();
  },   

    doResetAll: function() {
      this.$.ajaxResetAll.generateRequest();
      this.showWarning();
    }


    
  });

</script>
</dom-module>