<link rel="import" href="/extern/bower_components/polymer/polymer.html">
<link rel="import" href="/ts/common-elements/reset-css/reset-css.html">

<link rel="import" href="/extern/bower_components/paper-card/paper-card.html">



<dom-module id="messages-panel">
  <template>
    <style include="reset-css"></style>
    <style>
:host{display:block}[logPanel]{padding:5px; height:500px; display: flex}
</style>

      

    <div logPanel >
    <paper-card style="width:100%; padding:5px" >
      	<content select="log-panel"> </content>
      	</paper-card>
    </div>
      


    <br>
  </template>
  <script>
Polymer({is:"messages-panel"});
</script>
</dom-module>
